// .section_wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

// .webgl {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: -1;
// }
.container3d {
  position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
  height: 100vh;
  // background-color: yellow;
}