// .paratest {
//   height: 5000px;
// }

.paralax_001 {
  // position: absolute;
  z-index: 400;
    // background-color: red;
    // position: sticky;
    width: 100vw;
    left: 10%;
    right: 10%;
    margin-top: -5vh;

}
.paralax_002 {
  position: absolute;
  margin-top: -60vh;
    // background-color: green;
}
.paralax_003 {
  position: absolute;
  margin-top: -60vh;
  margin-left: 300px;
    // background-color: blue;
}
.paralax_004 {
  position: absolute;
  margin-top: -40vh;
    // background-color: yellow;
}
.paralax_005 {
  position: absolute;
  margin-left: 100px;
  margin-top: 30vh;
    // background-color: lightsalmon;
}

.a-test-paralax-wrapper {
    overflow: hidden;
    height: 168vh;
    position: relative;
      @include customize(theme) {
        background-color: getValue(backgroundLight);
        color: getValue(backgroundDark);
      }
    .row {

        // margin: 0;
        // padding: 0;
        overflow: visible;
    }
    .column {
        margin: 0;
        padding: 0;
        overflow: visible;
    }
}

.a-test-paralax {
    height: 100vh;
    width: 100%;
    position: relative;
    // @include customize(theme) {
    //     background-color: getValue(backgroundLight);
    //     color: getValue(backgroundDark);
    //   }

      &__part1 {
          position: absolute;
          height: 500px;
          width: 7px;
          left: 1%;
          top: 20%;
          @include customize(theme) {
            background-color: getValue(backgroundDark);
          }
          transform: rotate(18deg);
          transform-origin: bottom;
      }
      &__part2 {
          position: absolute;
          height: 500px;
          width: 7px;
          left: 99%;
          top: 20%;
          @include customize(theme) {
            background-color: getValue(backgroundDark);
          }
          transform: rotate(-18deg);
          transform-origin: bottom;
      }

      &__part3 {
        position: absolute;
        height: 7px;
        width: 250px;
        left: 35%;
        top: 70%;
        @include customize(theme) {
          background-color: getValue(backgroundDark);
        }
    }

      &__part4 {
        position: absolute;
        height: 7px;
        width: 250px;
        left: 15%;
        top: 46%;
        @include customize(theme) {
          background-color: getValue(backgroundDark);
        }
    }
}