.a-test-solo {
    height: 100vh;
    width: 100%;
    position: relative;
    @include customize(theme) {
        background-color: getValue(backgroundLight);
        color: getValue(backgroundDark);
      }

      &__part1 {
          position: absolute;
          height: 500px;
          width: 10px;
          left: 50%;
          top: 20%;
          @include customize(theme) {
            background-color: getValue(backgroundDark);
          }
          transform: rotate(12deg);
          transform-origin: bottom;
      }
      &__part2 {
          position: absolute;
          height: 500px;
          width: 10px;
          left: 60%;
          top: 20%;
          @include customize(theme) {
            background-color: getValue(backgroundDark);
          }
          transform: rotate(-12deg);
          transform: tra;
          transform-origin: bottom;
      }

      &__part3 {
        position: absolute;
        height: 10px;
        width: 300px;
        left: 47%;
        top: 60%;
        @include customize(theme) {
          background-color: getValue(backgroundDark);
        }
    }
}